site_name: NorESM Land Sites Platform technical documentation
site_url: https://sunnivin.github.io/noresm-land-sites-platform/
extra_css:
  - stylesheets/extra.css
extra_javascript:
  - javascripts/map.js
theme:
  name: readthedocs
  features:
    - search.suggest    # display the likeliest completion for the last word
    - search.highlight  # highlight all occurrences
    - search.share      # show a share button
    - navigation.footer
    - navigation.indexes
    - content.code.copy
    - content.code.annotate
    - announce.dismiss
plugins:
    - search
    - awesome-pages
markdown_extensions:
  - footnotes
  - admonition
  - mdx_math
  - pymdownx.highlight
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true 
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji 
      emoji_generator: !!python/name:materialx.emoji.to_svg
copyright: Copyright &copy; 2022- The NorESM Land Sites Platform Team